body {
    text-align: center;
    user-select: none;
    font-family: 'Philosopher', sans-serif;
    background: #FDDFEE;
    color: #3d405b;
    max-width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: 'Allura', cursive;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
    font-family: 'Nunito', sans-serif;


}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #E6A6A6;
    margin-bottom: 10px;
}

#bday-age {
    /* background: #E6A6A6; */
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    font-family: 'Allura', cursive;
    
}

#bday-date {
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Allura', cursive;
    font-size: 20px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
    font-family: 'Philosopher', sans-serif;


}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
    size: 100%;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 320px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/4856425.jpg");
    background-size: cover;
}

#gift-img-happy:hover, #gift-img-happy:active {
    background-image: url("images/Shehul1.jpeg");
}

#gift-img-hot:hover, #gift-img-hot:active {
    background-image: url("images/Shehul2.jpeg");
}

#gift-img-genius:hover, #gift-img-genius:active {
    background-image: url("images/Shehul3.jpeg");
}

#gift-img-badass:hover, #gift-img-badass:active {
    background-image: url("images/Shehul4.jpeg");
}

#gift-img-cheers:hover, #gift-img-cheers:active {
    background-image: url("images/sad.jpeg");
    background-size: stretch;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #3d405b;
}
